In [1]:
x=10

In [2]:
x = x+2
x

12

In [3]:
y=5

In [4]:
y

5

In [5]:
y+=5

In [6]:
y

10

In [2]:
def fahr_to_kelvin(temp):
    converted = ((temp-32) * (5/9))+273.15
    return converted

result = fahr_to_kelvin(100

In [3]:
def fahr_to_kelvin(temp):
    converted = ((temp-32) * (5/9))+273.15
    return converted

In [4]:
result = fahr_to_kelvin(100)

In [5]:
result

310.92777777777775

In [6]:
fahr_to_kelvin(100)

310.92777777777775

In [7]:
print ("Freezing point of water ", fahr_to_kelvin(32))
print ("Boiling point of water", fahr_to_kelvin(212))

Freezing point of water  273.15
Boiling point of water 373.15

In [8]:
x=11

In [9]:
print(x)

11

In [10]:
x=float(x)

In [11]:
print(type(x))

<class 'float'>

In [12]:
def kelvin_to_celcius(temp_k):
    converted = temp_k - 273.15
    return converted

In [13]:
print(converted)

NameError: name 'converted' is not defined

In [14]:
result= kelvin_to_celcius(0)

In [15]:
result

-273.15

In [21]:
def fahr_to_celcius(temp_f):
    temp_k = fahr_to_kelvin(temp_f)
    result = kelvin_to_celcius(temp_k)
    return result

In [22]:
print ("freezing point of water in celcius", fahr_to_celcius(32))

freezing point of water in celcius 0.0

In [23]:
a= "My name is"

In [25]:
b= " Princess Rina"

In [26]:
a+b

'My name is Princess Rina'

In [31]:
def join_words(a,b):
    return a + b

In [34]:
a= 'helium'

In [35]:
a[-1]

'm'

In [39]:
letter1 = a[0]

In [40]:
letter2= a[-1]

In [41]:
def join_words(letter1, letter 2):
    return letter1+letter2

SyntaxError: invalid syntax (<ipython-input-41-db1af6447ba0>, line 1)

In [42]:
letter1+letter2

'hm'

In [44]:
def outer(string):
    return string[0] + string [-1]

In [75]:
outer('helium')

'hm'

In [80]:
my_numbers= [1,2,3,4,5,6,7,8,9,10]

def sum_numbers(numbers_to_multiply):
    new_numbers = []
    for x in numbers_to_multiply:
        new_numbers.append(x*5)
    return new_numbers

In [81]:
sum_numbers(my_numbers)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]